[user]
	email = eli.treuherz@cgi.com
	name = Eli Treuherz
[push]
	default = simple
[core]
	editor = nvim
	excludesfile = /home/eli/.gitignore_global
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[mergetool "fugitive"]
	cmd = nvim -c \"Gvdiff\" \"$MERGED\"
[merge]
	tool = fugitive
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = nvimdiff
	algorithm = histogram
[alias]
	amend = commit --amend --no-edit
	ss = status -sb
	st = status
	ll = !git --no-pager log --oneline --decorate --graph -n 10
	la = !git ll --all
	lll = log --all --oneline --decorate --graph 
	mr = !sh -c 'git fetch origin merge-requests/$1/head:mr/$1 && git checkout mr/$1' -
	nuke = reset --hard
	purr = pull --rebase
	puff = pull --ff-only
	unstage = reset HEAD --
	staged = diff --cached
	root = rev-parse --show-toplevel
[gitreview]
	remote = origin
	username = treuherze
[rebase]
	autosquash = true
[diff-so-fancy]
	stripLeadingSymbols = false
[url "ssh://git@bitbucket.org/"]
	insteadOf = https://bitbucket.org/
[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[init]
	defaultBranch = develop
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
