[user]
	email = eli.treuherz@cgi.com
	name = Eli Treuherz
[push]
	default = simple
[core]
	editor = nvim
[mergetool "fugitive"]
	cmd = nvim -c \"Gvdiff\" \"$MERGED\"
[merge]
	tool = fugitive
[diff]
	algorithm = histogram
[alias]
	st = status
	purr = pull
	unstage = reset HEAD --
	rev = "!f() { git push origin HEAD:refs/for/${1:-$(git branch | grep \\* | cut -d ' ' -f2)}; }; f"
[gitreview]
	remote = origin
	username = treuherze
