[user]
	email = eli.treuherz@cgi.com
	name = Eli Treuherz
[push]
	default = simple
[core]
	editor = nvim
[mergetool "fugitive"]
	cmd = nvim -c \"Gvdiff\" \"$MERGED\"
[merge]
	tool = fugitive
[diff]
	algorithm = histogram
[alias]
	ss = status -sb
	st = status
	purr = pull
	unstage = reset HEAD --
[gitreview]
	remote = origin
	username = treuherze
